<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.intellif.bucheng.yin.springprovider.mapper.RoomMapper" >
    <insert id="save"  parameterType="cn.intellif.bucheng.yin.springprovider.entity.RoomEntity">
        INSERT  INTO  yinchong.t_room(name) VALUES (#{name})
    </insert>
    <delete id="delete" parameterType="long">
        DELETE FROM yinchong.t_room where id = #{value }
    </delete>
</mapper>